{% extends 'base.html' %}
{% block carrito %}
    <h1>Carrito de Compras</h1>
    <p>Total: ${{ carrito.total }}</p>
    <p>Estado: {{ carrito.estado }}</p>
    <hr>
    <h2>Productos en el Carrito</h2>
    {% for cantidadproducto in carrito.productos.all %}
        <div>
            <form method="post" action="{% url 'remove_from_cart' %}">
                {% csrf_token %}
                <p>La obra: {{ cantidadproducto.productos.nombre }} fue añadida una cantidad: {{ cantidadproducto.cantidad }}</p>
                <input type="hidden" name="obra_id" value="{{ cantidadproducto.productos.id }}">
                <button type="submit">Eliminar</button>
            </form>
        </div>
        <hr>
    {% endfor %}

    <h2>Agregar Nuevas Obras al Carrito</h2>
    {% for obra in obras %}
        <div>
            <h3>{{ obra.nombre }}</h3>
            <p>{{ obra.descripcion }}</p>
            <p>Precio: ${{ obra.precio }}</p>
            <form action="{% url 'agregar_al_carrito' obra.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Agregar al Carrito</button>
            </form>
        </div>
        <hr>
    {% endfor %}

    <a href="{% url 'añadir_direccion' %}">Añadir Dirección de Envío</a>
{% endblock %}