{% block carrito %}
Este va a ser el contenido
<p>p</p>
<p>Total: {{carrito.total}}</p>
<p>Estado: {{carrito.estado}}</p>
<p>p</p>
{% for cantidadproducto in carrito.productos.all %}
<form method="post">
	{% csrf_token %}
la obra: {{cantidadproducto.productos.nombre}}
fue añadida una cantidad: {{cantidadproducto.cantidad}}
<input type="hidden" name="artista_id" value="{{artista.id}}">
<input type="submit" name="Editar_artista" value="Editar"> <br><input type="submit" name="Eliminar_artista" value="Eliminar"> <br>

 <br>
 </form>
 	{% for obra in artista.obras.all %}
		 <form method="post">
		 	 {% csrf_token %}
		 	-La obra es: {{obra.nombre}} 
		 <input type="hidden" name="obra_id" value="{{obra.id}}">
		 <input type="submit" name="Editar_obra" value="Editar"> <br>
		 </form>


	{% endfor %}


{% endfor %}

{% endblock %}