{% extends 'base.html' %}

{% block titulo %}Artistas{% endblock %}


{% block contenido %}
Este va a ser el contenido
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
{% for artista in artistas %}
<form method="post">
	{% csrf_token %}
 El artista es: {{artista.nombre}}
<input type="hidden" name="artista_id" value="{{artista.id}}">
<input type="submit" name="Editar_artista" value="Editar"> <br><input type="submit" name="Eliminar_artista" value="Eliminar"> <br>

 <br>
 </form>
 	{% for obra in artista.obras.all %}
		 <form method="post">
		 	 {% csrf_token %}
		 	-La obra es: {{obra.nombre}} 
		 <input type="hidden" name="obra_id" value="{{obra.id}}">
		 <input type="submit" name="Editar_obra" value="Editar"> <br>
		 </form>


	{% endfor %}


{% endfor %}

{% endblock %}

