body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #383B43;
}
.login-container {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: dimgrey;
}
input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
button {
    padding: 5px 10px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
label{
    color: white;
}